.home-main{
  list-style-type: none;
}

a{
  text-decoration: none;
  
}
.header-list{
  display: flex;
}

.header-list li{
  list-style-type: none;
  font-size:10px;
  margin-right:20px;
}
.timer-set-main a{
  border: 1px solid black;
  padding:1px;
}

.timer-main{
  font-size:40px;
  color:aquamarine;
}

.function{
  font-size:15px;
}