
.home-main{
  list-style-type: none;
}

a{
  text-decoration: none;
}

header{
  width: 100%;
  background: linear-gradient(to bottom,rgb(194, 199, 195) 0%, rgb(202, 202, 202) 50%,rgb(134, 134, 134) 100%);
  color: #333;
  text-shadow: 0 1px 0 #eee;
  display: flex;
  justify-content: space-between;
}

.header-left .top{
  margin-right:5px;
}
.header-left li{
  text-align: left;
  display:inline-block;
  font-size: 13px;
}

.header-right{
  margin-right: 20px;
}
.header-right li{
  display:inline-block;
  font-size: 13px;
}

.timer-box{
 margin-bottom: 10px;
}
.timer-set-main{
  display: flex;
  justify-content:center;
}
.timer-set-main a{
  border: 1px solid black;
  padding: 1px;
  margin:0 2px;
  background: linear-gradient(to bottom,rgb(194, 199, 195) 0%, rgb(202, 202, 202) 50%,rgb(134, 134, 134) 100%);
  border-radius: 7px;
}

.timer-set-main b input{
  border-radius: 7px;
}
.timer-main{
  font-size:35px;
  color:aquamarine;
  /* color:linear-gradient(to bottom,rgb(194, 199, 195) 0%, rgb(202, 202, 202) 50%,rgb(134, 134, 134) 100%); */
  display: flex;
  justify-content:center;
}

.function{
  font-size:15px;
}

.quiz{
  border: 2px solid aquamarine;
  margin: 2px 0;
  padding: 1px;
}

.quiz-clear-button{
  float:right;
  margin:0 5px;
}