<h2>一覧ページ</h2>

<% if @quizzes.present? %>
  <% @quizzes.each do |quiz| %>
    <div>
      <th>No.<%= quiz.id %></th>
      <th><%= quiz.quiz_name %></th>
      <th>出題者:<%= quiz.user.nickname %></th>
    </div>
  <% end %>
<% else %>
  <p>出題がありません</p>
<% end %>

<%= link_to 'トップページへ戻る',root_path %>