<h1>タイマー</h1>
<form>
  <p>
    <input type ="number" id="set-hour" value="0" max="24"min="0">時間
    <input type ="number" id="set-min" value="0" max="59" min="0">分
    <input type ="number" id="set-sec" value="0" max="59" min="0">秒
  </p>
  <p id = "timer-button"><a href ="#" id ="timer-start" >開始</a></p>
  
  <p id = "reset-button"><a id ="timer-reset" >リセット</a></p>
</form>
<h1 id="timer-body"><span id="hour">00</span>：<span id="min">00</span>：<span id="sec">00</span><h1>


<h2>問題名</h2>
<p>ジャンル</p>
<p>難易度</p>
<p>問題文</p>
<p>解答</p>
<p>例文</p>
