<%= link_to 'トップページへ戻る',root_path %>
<h2>開発記録</h2>
<ul>
  <li>2021/11/23 コメント機能追加実装完了</li>
  <li>2021/11/20 クイズ検索機能の実装完了</li>
  <li>2021/11/19 クイズ機一覧、自動送り機能実装完了</li>
  <li>2021/11/17 タイマー機能、クイズ機能の一先ずの実装完了</li>
</ul>