<%= link_to 'トップページへ戻る',root_path %>
<h2>利用規約</h2>
<h4></h4>

<div class="Inner">
  <h2 class="Inner-Headline">利用規約</h2>
  <p class="Inner-Text first">本規約は、当ウェブサイト(以下当サイト)が提供するサービスを利用するお客様（以下「利用者」といいます。）において、当サイトが提供するサービスを利用する上での合意事項となります。ご利用になる前に、必ずご確認、ご承諾頂きますようお願い申し上げます。</p>
  <div class="Inner-Box">
    <h3 class="Inner-Box-Headline">個人情報保護方針</h3>
    <ul class="Inner-Box-List">
      <li class="Inner-Box-List-Item">保護の保証が出来ません。</li>
      <li class="Inner-Box-List-Item">個人情報と思われる内容は扱わないようお願い致します。</li>
    </ul>
  </div>
  <div class="Inner-Box">
    <h3 class="Inner-Box-Headline">秘密保持</h3>
    <ol class="Inner-Box-List">
      <li class="Inner-Box-List-Item">保持の保証が出来ません。</li>
      <li class="Inner-Box-List-Item">漏洩しては問題になる内容は扱わないようにお願い致します。</li>
    </ol>
  </div>
  <div class="Inner-Box">
    <h3 class="Inner-Box-Headline">知的財産権</h3>
    <ol class="Inner-Box-List">
      <li class="Inner-Box-List-Item">本サービス内における画像、動画、文章、キャラクター、プログラムその他一切の情報（以下、「画像等」といいます。）に関する知的財産権は、利用者が自ら作成したポップアップ広告に関する知的財産権を除き、当サイト又は当サイトにその利用を許諾した者（以下、「権利者」といいます。）に帰属します。利用者は、法令に基づき認められる場合を除き、当サイト又は権利者による事前の許可なく、画像等を複製、送信その他の態様で使用することはできません。</li>
      <li class="Inner-Box-List-Item">本サービスの名称その他本サービス内で表示される商品名、サービス名等には、当社又は第三者が商標権その他の使用権を有する名称が含まれます。本規約は、利用者その他の第三者に対し、知的財産権を譲渡又は使用許諾するものではありません。また、本サービスに関する知的財産権について、利用者がその登録の出願又は移転の申請を行ってはならないものとします。</li>
    </ol>
  </div>
</div>